<main class="main">

  <mat-card>
    <header>
      <mat-card-title>
        <span class="material-icons">person</span> Add Employee
      </mat-card-title>
    </header>
  
<mat-card-content>
<form [formGroup]="employeeForm" class="form-inline" (ngSubmit)="onSubmit()">
  <br><br>
  <!-- <div class="row">
    <div class="container text-center">
      <mat-form-field appearance="fill">
        <mat-label>Employee Type</mat-label>
        <mat-select formControlName="employeeType" required>
          <mat-option>Administrator</mat-option>`

          <mat-option>Teacher</mat-option>
        </mat-select>
      </mat-form-field>
    </div>      
  </div> -->
  
  <div class="row">
    <div class="col-lg-4">
      <mat-form-field>  
        <label for="name">Name:</label>
        <br>
        <input type="text" name="Name" [(ngModel)]="employeeData.Name" class="form-control" formControlName="Name"> <br>
        <!-- <input type="text" class="form-control" formControlName="Name"> <br> -->
        <small *ngIf="employeeForm.get('Name').invalid && employeeForm.get('Name').touched" class="text-danger">Required (max 50 characters, no special characters)</small>

      </mat-form-field> 
     </div>

    <div class="col-lg-2">
      <mat-form-field>  
       <label for="surname">Surname:</label>   
        <br>
       <input type="text" name="Surname" [(ngModel)]="employeeData.Surname" class="form-control" formControlName="surname"> <br>
       <small *ngIf="employeeForm.get('surname').invalid && employeeForm.get('surname').touched" class="text-danger">Required (max 50 characters, no special characters)</small>
      </mat-form-field>
    </div>
  </div>    

  <div class="row">
    <div class="col-lg-4">
      <label for="birthDate">Birth Date:</label>
      <br>
      <input type="date"  name="Birth_Date" [(ngModel)]="employeeData.Birth_Date" class="form-control" formControlName="birthDate"> <br>
      <small *ngIf="employeeForm.get('birthDate').invalid && employeeForm.get('birthDate').touched" class="text-danger">Birth Date is required</small>
    </div>

    <div class="col-lg-2">
        <label for="hireDate">Hire Date:</label>
        <br>
        <input type="date" name="Hire_Date" [(ngModel)]="employeeData.Hire_Date" class="form-control" formControlName="hireDate"> <br>
        <small *ngIf="employeeForm.get('hireDate').invalid && employeeForm.get('hireDate').touched" class="text-danger">Hire Date is required</small>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <mat-form-field>  
        <label for="email">Email address:</label>
        <br>
        <input type="email" name="Email_Address" [(ngModel)]="employeeData.Email_Address" class="form-control" formControlName="email"> <br>
        <small *ngIf="employeeForm.get('email').invalid && employeeForm.get('email').touched" class="text-danger">Enter a valid email</small>
      </mat-form-field>
    </div>

    <div class="col-lg-2">
      <mat-form-field>  
        <label for="contactNr">Contact Number:</label>
        <br>
        <input type="text" name="Contact_No" [(ngModel)]="employeeData.Contact_No" class="form-control" formControlName="contactNr"> <br>
        <small *ngIf="employeeForm.get('contactNr').invalid && employeeForm.get('contactNr').touched" class="text-danger">Enter a valid contact number</small>
      </mat-form-field>
    </div>
  </div>


 <div class="row">
  <div class="col-lg-2">
    <mat-form-field>  
    <label for="streetAddress">Street Address:</label>
    <br>
    <input type="text" name="Street_Address" [(ngModel)]="employeeData.Street_Address" class="form-control" formControlName="streetAddress"> <br>
    <small *ngIf="employeeForm.get('streetAddress').invalid && employeeForm.get('streetAddress').touched" class="text-danger">Required (max 50 characters)d</small>
    </mat-form-field>
  </div>
 </div>

   <div class="row">
    <div class="col-lg-8">
      <mat-form-field>  
       <label for="address2">Address Line 2:</label>
        <br>
        <input type="text" name="Address_2" [(ngModel)]="employeeData.Address_2" class="form-control" >
      </mat-form-field>
     </div>
     </div> 


  <div class="row">
    <div class="col-lg-4">   
      <mat-form-field appearance="fill">
        <label>Province</label><br>
        <select class="form-control" name="Province" [(ngModel)]="employeeData.Province" formControlName="province">
          <option value="Select Province" selected>--Select a Province--</option>
          <option value="Gauteng">Gauteng</option>
          <option value="Eastern Cape" >Eastern Cape</option>
          <option value="Free State">Free State</option>
          <option value="KwaZulu-Natal">KwaZulu-Natal</option>
          <option value="Western Cape">Western Cape</option>
          <option value="Northern Cape">Northern Cape</option>
          <option value="Limpopo">Limpopo</option>
          <option value="Mpumalanga">Mpumalanga</option>
          <option value="North West">North West</option>
        </select>
      </mat-form-field>
    </div>

    <div class="col-lg-4">   
      <mat-form-field>  
    <label for="city">City:</label>   
    <br>
    <select name="City" [(ngModel)]="employeeData.City" class="form-control" formControlName="city">
      <option value="0" selected>--Select a City--</option>
      <option value="Pretoria">Pretoria</option>
      <option value="Johannesburg">Johannesburg</option>
      <option value="Cape Town">Cape Town</option>
      <option value="Durban">Durban</option>
      <option value="Polokwane">Polokwane</option>
      <option value="Bloemfontein">Bloemfontein</option>
    </select>
    <!-- <input type="text" name="City" [(ngModel)]="employeeData.City" class="form-control" formControlName="city"> <br>
    <small *ngIf="employeeForm.get('city').invalid && employeeForm.get('city').touched" class="text-danger">Required (max 50 characters)</small> -->
    </mat-form-field> 
  </div>

  <div class="col-lg-4">   
    <mat-form-field>  
    <label for="postalCode">Postal Code:</label>   
    <br>
    <input type="text" name="Postal_Code" [(ngModel)]="employeeData.Postal_Code" class="form-control" formControlName="postalCode"> <br>
    <small *ngIf="employeeForm.get('postalCode').invalid && employeeForm.get('postalCode').touched" class="text-danger">Required (max 10 characters, numbers only)</small>
    </mat-form-field>
  </div>
  </div>
<br>
  <div class="addButton">
    <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-success" >Add Employee</button>
  </div>

  </form>
</mat-card-content>
</mat-card>
</main>



