<div class="container">
    <h1>Class Types</h1>
    <hr />
    
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" (keyup)="search($event)"  />
        <!-- <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span> -->
    </div>
    
    <br><br>

    <table mat-table [dataSource]="dataSource" matSort class="table table-hover mat-elevation-z8" style="color: black;">

        <ng-container matColumnDef="Grade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Grade </th>
            <td mat-cell *matCellDef="let element"> {{element.Grade}} </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-sm btn-info" (click)="editClassType(element.Class_Type_ID, element)" > Update
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-sm btn-danger" (click)="getID(element.Class_Type_ID)" >Delete
                    
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      
        <td></td>
        
      <div class="container text-center">
        <button type="submit" class="btn btn-default" a routerLink="/addclasstype">Add Grade</button>
      </div>
    </div>


    


