USE [master]
GO
/****** Object:  Database [CrayonKids]    Script Date: 2022/09/05 00:52:44 ******/
CREATE DATABASE [CrayonKids]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CrayonKids', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CrayonKids.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CrayonKids_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CrayonKids_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CrayonKids].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CrayonKids]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Allergy]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergy](
	[Allergy_ID] [int] NOT NULL,
	[Allergy_Details] [varchar](20) NULL,
	[Allergy_Date] [date] NULL,
 CONSTRAINT [PK_Allergy] PRIMARY KEY CLUSTERED 
(
	[Allergy_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[Application_ID] [int] IDENTITY(1,1) NOT NULL,
	[Application_Status_ID] [int] NULL,
	[Application_Date] [date] NULL,
	[Parent_Name] [varchar](50) NULL,
	[Parent_Surname] [varchar](50) NULL,
	[Parent_Contact_No] [varchar](20) NULL,
	[Parent_Email] [varchar](50) NULL,
	[Student_Name] [varchar](50) NULL,
	[Student_Surname] [varchar](50) NULL,
	[Student_Grade] [int] NULL,
 CONSTRAINT [PK_Application] PRIMARY KEY CLUSTERED 
(
	[Application_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_Status]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Status](
	[Application_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](20) NULL,
 CONSTRAINT [PK_Application_Status] PRIMARY KEY CLUSTERED 
(
	[Application_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment_Booking]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment_Booking](
	[Appointment_Booking_ID] [int] NOT NULL,
	[Appointment_Booking_Details] [varchar](20) NULL,
	[Booking_Status_ID] [int] NULL,
	[Appointment_Booking_Date] [date] NULL,
 CONSTRAINT [PK_Appointment_Booking] PRIMARY KEY CLUSTERED 
(
	[Appointment_Booking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessment]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment](
	[Assessment_ID] [int] NOT NULL,
	[Report_Card_Template_ID] [int] NULL,
	[Assessment_Details] [varchar](200) NULL,
 CONSTRAINT [PK_Assessment] PRIMARY KEY CLUSTERED 
(
	[Assessment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking_Status]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_Status](
	[Booking_Status_ID] [int] NOT NULL,
	[Accepted] [varchar](20) NULL,
	[Rejected] [varchar](20) NULL,
	[Pending] [varchar](20) NULL,
 CONSTRAINT [PK_Booking_Status] PRIMARY KEY CLUSTERED 
(
	[Booking_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[City_ID] [int] NOT NULL,
	[City_Details] [varchar](50) NULL,
	[Province_ID] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[City_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Class_ID] [int] IDENTITY(1,1) NOT NULL,
	[Class_Name] [varchar](20) NULL,
	[Class_Capacity] [varchar](20) NULL,
	[Student_ID] [int] NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[Class_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_Class_Type]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Class_Type](
	[Class_ID] [int] NOT NULL,
	[Class_Type_ID] [int] NOT NULL,
 CONSTRAINT [PK__Class_Cl__B077B71534DCB7B6] PRIMARY KEY CLUSTERED 
(
	[Class_ID] ASC,
	[Class_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_Type]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Type](
	[Class_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Grade] [int] NULL,
 CONSTRAINT [PK_Class_Type] PRIMARY KEY CLUSTERED 
(
	[Class_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_Type_Employee]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Type_Employee](
	[Class_Type_ID] [int] NOT NULL,
	[Employee_ID] [int] NOT NULL,
 CONSTRAINT [PK__Class_Ty__098A3769FFE27824] PRIMARY KEY CLUSTERED 
(
	[Class_Type_ID] ASC,
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaint]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint](
	[Complaint_ID] [int] NOT NULL,
	[Complaint_details] [varchar](500) NULL,
 CONSTRAINT [PK_Complaint] PRIMARY KEY CLUSTERED 
(
	[Complaint_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DateTable]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateTable](
	[Date_ID] [int] NOT NULL,
	[Date_details] [varchar](50) NULL,
	[Year] [date] NULL,
	[Month] [date] NULL,
 CONSTRAINT [PK__DateTabl__1F9B72AB718C8542] PRIMARY KEY CLUSTERED 
(
	[Date_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emergency]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emergency](
	[Emergency_ID] [int] NOT NULL,
	[Emergency_Details] [varchar](20) NULL,
	[Emergency_Date] [date] NULL,
 CONSTRAINT [PK_Emergency] PRIMARY KEY CLUSTERED 
(
	[Emergency_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Birth_Date] [date] NULL,
	[Hire_Date] [date] NULL,
	[Contact_No] [int] NULL,
	[Address] [varchar](50) NULL,
	[Email_Address] [varchar](20) NULL,
	[Street_Address] [varchar](50) NULL,
	[Address_2] [varchar](50) NULL,
	[Province] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Postal_Code] [varchar](50) NULL,
	[User_ID] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Type]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Type](
	[Employee_Type_ID] [int] NOT NULL,
	[Teacher] [varchar](50) NULL,
	[Cook] [varchar](50) NULL,
	[Gardener] [varchar](50) NULL,
	[Administrator] [varchar](50) NULL,
	[Principal] [varchar](50) NULL,
 CONSTRAINT [PK_Employee_Type] PRIMARY KEY CLUSTERED 
(
	[Employee_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employment_Status]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employment_Status](
	[Employment_Status_ID] [int] NOT NULL,
	[Active] [varchar](20) NULL,
	[Inactive] [varchar](20) NULL,
 CONSTRAINT [PK_Employment_Status] PRIMARY KEY CLUSTERED 
(
	[Employment_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[Equipment_ID] [int] NOT NULL,
	[Equipment_Item_Name] [varchar](20) NULL,
	[Equipment_Purchase_Date] [date] NULL,
	[Equipment_Type_ID] [int] NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[Equipment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment_Type]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment_Type](
	[Equipment_Type_ID] [int] NOT NULL,
	[Equipment_Type_Description] [varchar](50) NULL,
 CONSTRAINT [PK_Equipment_Type] PRIMARY KEY CLUSTERED 
(
	[Equipment_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Homework]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Homework](
	[Homework_ID] [int] NOT NULL,
	[Report_Card_Template_ID] [int] NULL,
	[Homework_Details] [varchar](200) NULL,
 CONSTRAINT [PK_Homework] PRIMARY KEY CLUSTERED 
(
	[Homework_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marking_Scale]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marking_Scale](
	[Marking_Scale_ID] [int] NOT NULL,
	[Report_Card_Template_ID] [int] NULL,
	[Marking_Scale_Details] [varchar](20) NULL,
 CONSTRAINT [PK_Marking_Scale] PRIMARY KEY CLUSTERED 
(
	[Marking_Scale_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Menu_ID] [int] NOT NULL,
	[MenuDescription] [varchar](20) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Menu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu_Item]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu_Item](
	[Menu_Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Menu_Item_Description] [varchar](20) NULL,
	[Menu_Items_Purchased] [int] NULL,
	[Menu_Item_Purchase_Date] [date] NULL,
 CONSTRAINT [PK_Menu_Item] PRIMARY KEY CLUSTERED 
(
	[Menu_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu_Item_Menu]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu_Item_Menu](
	[Menu_ID] [int] NOT NULL,
	[Menu_Item_ID] [int] NOT NULL,
 CONSTRAINT [PK__Menu_Ite__ADC4EA8EAB7A3781] PRIMARY KEY CLUSTERED 
(
	[Menu_ID] ASC,
	[Menu_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Line]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Line](
	[Supplier_Order_ID] [int] NOT NULL,
	[Order_Type_ID] [int] NOT NULL,
	[Stationery_ID] [int] NOT NULL,
	[Cleaning_Material_Item_ID] [int] NOT NULL,
	[Equipment_ID] [int] NOT NULL,
	[Order_Line_Item] [varchar](50) NULL,
 CONSTRAINT [PK__Order_Li__152A654CD26619D0] PRIMARY KEY CLUSTERED 
(
	[Supplier_Order_ID] ASC,
	[Order_Type_ID] ASC,
	[Stationery_ID] ASC,
	[Cleaning_Material_Item_ID] ASC,
	[Equipment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent_Feedback]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent_Feedback](
	[Parent_Feedback_ID] [int] NOT NULL,
	[Parent_Guardian_ID] [int] NULL,
	[Parent_Feedback_Details] [varchar](20) NULL,
 CONSTRAINT [PK_Parent_Feedback] PRIMARY KEY CLUSTERED 
(
	[Parent_Feedback_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent_Guardian]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent_Guardian](
	[Parent_Guardian_ID] [int] IDENTITY(1,1) NOT NULL,
	[Application_ID] [int] NULL,
	[Parent_Name] [varchar](50) NULL,
	[Parent_Surname] [varchar](50) NULL,
	[Parent_Contact_No] [varchar](20) NULL,
	[Parent_Email_Address] [varchar](50) NULL,
	[User_ID] [int] NULL,
 CONSTRAINT [PK_Parent_Guardian] PRIMARY KEY CLUSTERED 
(
	[Parent_Guardian_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent_Guardian_Menu_Item]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent_Guardian_Menu_Item](
	[Parent_Guardian_ID] [int] NOT NULL,
	[Menu_Item_ID] [int] NOT NULL,
 CONSTRAINT [PK__Parent_G__417D319375A9EF42] PRIMARY KEY CLUSTERED 
(
	[Parent_Guardian_ID] ASC,
	[Menu_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Payment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Student_ID] [int] NULL,
	[Proof_Of_Payment] [varchar](max) NULL,
	[Payment_Date] [date] NULL,
	[Payment_Status] [varchar](50) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Progress_Category]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Progress_Category](
	[Progress_Category_ID] [int] NOT NULL,
	[Marking_Scale_ID] [int] NULL,
	[Progress_Category_Details] [varchar](20) NULL,
 CONSTRAINT [PK_Progress_Category] PRIMARY KEY CLUSTERED 
(
	[Progress_Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[Province_ID] [int] NOT NULL,
	[Province_Details] [varchar](50) NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[Province_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportCard]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportCard](
	[Report_Card_ID] [int] NOT NULL,
	[Report_Card_Details] [varchar](200) NULL,
	[Student_ID] [int] NULL,
 CONSTRAINT [PK_ReportCard] PRIMARY KEY CLUSTERED 
(
	[Report_Card_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportCard_Template]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportCard_Template](
	[Report_Card_Template_ID] [int] NOT NULL,
	[Report_Card_ID] [int] NULL,
	[Report_Card_Grade] [int] NULL,
 CONSTRAINT [PK_ReportCard_Template] PRIMARY KEY CLUSTERED 
(
	[Report_Card_Template_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[Schedule_ID] [int] NOT NULL,
	[School_ID] [int] NULL,
	[Schedule_details] [varchar](200) NULL,
	[Event_date] [date] NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[Schedule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School](
	[School_ID] [int] NOT NULL,
	[School_Name] [varchar](50) NULL,
	[School_Location] [varchar](50) NULL,
	[School_Info_Details] [varchar](50) NULL,
 CONSTRAINT [PK_School] PRIMARY KEY CLUSTERED 
(
	[School_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School_Fees]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School_Fees](
	[School_Fees_ID] [int] IDENTITY(1,1) NOT NULL,
	[Student_ID] [int] NULL,
	[Fee_Amount] [decimal](18, 2) NULL,
	[Amount_Outstanding] [decimal](18, 2) NULL,
	[Last_Payment] [decimal](18, 2) NULL,
 CONSTRAINT [PK_School_Fees] PRIMARY KEY CLUSTERED 
(
	[School_Fees_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School_Fees_Status]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School_Fees_Status](
	[School_Fees_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[School_Fees_Status_Description] [varchar](50) NULL,
	[Parent_Guardian_ID] [int] NULL,
 CONSTRAINT [PK_School_Fees_Status] PRIMARY KEY CLUSTERED 
(
	[School_Fees_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School_Term]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School_Term](
	[School_Term_ID] [int] NOT NULL,
	[Schedule_ID] [int] NULL,
	[Student_ID] [int] NULL,
	[Report_Card_ID] [int] NULL,
	[Term_details] [varchar](500) NULL,
 CONSTRAINT [PK_School_Term] PRIMARY KEY CLUSTERED 
(
	[School_Term_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Student_ID] [int] IDENTITY(1,1) NOT NULL,
	[Parent_Guardian_ID] [int] NULL,
	[Student_Name] [varchar](50) NULL,
	[Student_Surname] [varchar](50) NULL,
	[Student_Grade] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Allergy]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Allergy](
	[Student_ID] [int] NOT NULL,
	[Allergy_ID] [int] NOT NULL,
 CONSTRAINT [PK__Student___C771B64585DEEB8A] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC,
	[Allergy_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Class]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Class](
	[Student_ID] [int] NOT NULL,
	[Class_ID] [int] NOT NULL,
 CONSTRAINT [PK__Student___C9FD99F976B759C9] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC,
	[Class_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Emergency]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Emergency](
	[Student_ID] [int] NOT NULL,
	[Emergency_ID] [int] NOT NULL,
 CONSTRAINT [PK__Student___D6E6AB5C6D5B9E66] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC,
	[Emergency_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subcategory]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcategory](
	[Subcategory_ID] [int] NOT NULL,
	[Progress_Category_ID] [int] NULL,
	[Subcategory_Details] [varchar](20) NULL,
 CONSTRAINT [PK_Subcategory] PRIMARY KEY CLUSTERED 
(
	[Subcategory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Supplier_ID] [int] NOT NULL,
	[Supplier_Name] [varchar](20) NULL,
	[Supplier_Email_Address] [varchar](20) NULL,
	[Supplier_Contact_No] [varchar](20) NULL,
	[Supplier_Address] [varchar](20) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Supplier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier_Order]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier_Order](
	[Supplier_Order_ID] [int] NOT NULL,
	[School_ID] [int] NULL,
	[Employee_ID] [int] NULL,
	[Supplier_ID] [int] NULL,
	[Supplier_Order_Details] [varchar](50) NULL,
 CONSTRAINT [PK_Supplier_Order] PRIMARY KEY CLUSTERED 
(
	[Supplier_Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[Test_ID] [int] NOT NULL,
	[Report_Card_Template_ID] [int] NULL,
	[Test_Details] [varchar](200) NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[Test_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timeslot]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timeslot](
	[Timeslot_ID] [int] NOT NULL,
	[Timeslot_details] [varchar](50) NULL,
 CONSTRAINT [PK_Timeslot] PRIMARY KEY CLUSTERED 
(
	[Timeslot_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timeslot_Schedule_Date]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timeslot_Schedule_Date](
	[TimeSlot_ID] [int] NOT NULL,
	[Schedule_ID] [int] NOT NULL,
	[Date_ID] [int] NOT NULL,
 CONSTRAINT [PK__Timeslot__9B9990FDF10D07E0] PRIMARY KEY CLUSTERED 
(
	[TimeSlot_ID] ASC,
	[Schedule_ID] ASC,
	[Date_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Title]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Title](
	[Title_ID] [int] NOT NULL,
	[Mr] [varchar](2) NULL,
	[Mrs] [varchar](3) NULL,
	[Ms] [varchar](3) NULL,
	[Dr] [varchar](3) NULL,
 CONSTRAINT [PK_Title] PRIMARY KEY CLUSTERED 
(
	[Title_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Tbl]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Tbl](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Type_ID] [int] NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](100) NULL,
 CONSTRAINT [PK_User_Tbl] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Type]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Type](
	[User_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Type] [varchar](50) NULL,
 CONSTRAINT [PK_User_Type] PRIMARY KEY CLUSTERED 
(
	[User_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zip_Code]    Script Date: 2022/09/05 00:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zip_Code](
	[Zip_Code_ID] [int] NOT NULL,
	[Zip_Code_Details] [varchar](50) NULL,
 CONSTRAINT [PK_Zip_Code] PRIMARY KEY CLUSTERED 
(
	[Zip_Code_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Application_Application_Status_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Application_Application_Status_ID] ON [dbo].[Application]
(
	[Application_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointment_Booking_Booking_Status_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Appointment_Booking_Booking_Status_ID] ON [dbo].[Appointment_Booking]
(
	[Booking_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assessment_Report_Card_Template_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Assessment_Report_Card_Template_ID] ON [dbo].[Assessment]
(
	[Report_Card_Template_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_City_Province_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_City_Province_ID] ON [dbo].[City]
(
	[Province_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Equipment_Equipment_Type_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Equipment_Equipment_Type_ID] ON [dbo].[Equipment]
(
	[Equipment_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Homework_Report_Card_Template_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Homework_Report_Card_Template_ID] ON [dbo].[Homework]
(
	[Report_Card_Template_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Marking_Scale_Report_Card_Template_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Marking_Scale_Report_Card_Template_ID] ON [dbo].[Marking_Scale]
(
	[Report_Card_Template_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parent_Feedback_Parent_Guardian_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Parent_Feedback_Parent_Guardian_ID] ON [dbo].[Parent_Feedback]
(
	[Parent_Guardian_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Progress_Category_Marking_Scale_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Progress_Category_Marking_Scale_ID] ON [dbo].[Progress_Category]
(
	[Marking_Scale_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportCard_Student_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_ReportCard_Student_ID] ON [dbo].[ReportCard]
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportCard_Template_Report_Card_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_ReportCard_Template_Report_Card_ID] ON [dbo].[ReportCard_Template]
(
	[Report_Card_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedule_School_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Schedule_School_ID] ON [dbo].[Schedule]
(
	[School_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_School_Fees_Status_Parent_Guardian_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_School_Fees_Status_Parent_Guardian_ID] ON [dbo].[School_Fees_Status]
(
	[Parent_Guardian_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_School_Term_Report_Card_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_School_Term_Report_Card_ID] ON [dbo].[School_Term]
(
	[Report_Card_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_School_Term_Schedule_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_School_Term_Schedule_ID] ON [dbo].[School_Term]
(
	[Schedule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_School_Term_Student_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_School_Term_Student_ID] ON [dbo].[School_Term]
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Student_Parent_Guardian_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Student_Parent_Guardian_ID] ON [dbo].[Student]
(
	[Parent_Guardian_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subcategory_Progress_Category_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Subcategory_Progress_Category_ID] ON [dbo].[Subcategory]
(
	[Progress_Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Supplier_Order_Employee_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Supplier_Order_Employee_ID] ON [dbo].[Supplier_Order]
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Supplier_Order_School_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Supplier_Order_School_ID] ON [dbo].[Supplier_Order]
(
	[School_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Supplier_Order_Supplier_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Supplier_Order_Supplier_ID] ON [dbo].[Supplier_Order]
(
	[Supplier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Test_Report_Card_Template_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_Test_Report_Card_Template_ID] ON [dbo].[Test]
(
	[Report_Card_Template_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Tbl_User_Type_ID]    Script Date: 2022/09/05 00:52:45 ******/
CREATE NONCLUSTERED INDEX [IX_User_Tbl_User_Type_ID] ON [dbo].[User_Tbl]
(
	[User_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_Application_Status] FOREIGN KEY([Application_Status_ID])
REFERENCES [dbo].[Application_Status] ([Application_Status_ID])
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Application_Application_Status]
GO
ALTER TABLE [dbo].[Appointment_Booking]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__Booki__0F624AF8] FOREIGN KEY([Booking_Status_ID])
REFERENCES [dbo].[Booking_Status] ([Booking_Status_ID])
GO
ALTER TABLE [dbo].[Appointment_Booking] CHECK CONSTRAINT [FK__Appointme__Booki__0F624AF8]
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD  CONSTRAINT [FK__Assessmen__Repor__68487DD7] FOREIGN KEY([Report_Card_Template_ID])
REFERENCES [dbo].[ReportCard_Template] ([Report_Card_Template_ID])
GO
ALTER TABLE [dbo].[Assessment] CHECK CONSTRAINT [FK__Assessmen__Repor__68487DD7]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK__City__Province_I__2CF2ADDF] FOREIGN KEY([Province_ID])
REFERENCES [dbo].[Province] ([Province_ID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK__City__Province_I__2CF2ADDF]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Student] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[Student] ([Student_ID])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Student]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_User_Tbl] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User_Tbl] ([User_ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_User_Tbl]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK__Equipment__Equip__1AD3FDA4] FOREIGN KEY([Equipment_Type_ID])
REFERENCES [dbo].[Equipment_Type] ([Equipment_Type_ID])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK__Equipment__Equip__1AD3FDA4]
GO
ALTER TABLE [dbo].[Homework]  WITH CHECK ADD  CONSTRAINT [FK__Homework__Report__6B24EA82] FOREIGN KEY([Report_Card_Template_ID])
REFERENCES [dbo].[ReportCard_Template] ([Report_Card_Template_ID])
GO
ALTER TABLE [dbo].[Homework] CHECK CONSTRAINT [FK__Homework__Report__6B24EA82]
GO
ALTER TABLE [dbo].[Marking_Scale]  WITH CHECK ADD  CONSTRAINT [FK__Marking_S__Repor__6E01572D] FOREIGN KEY([Report_Card_Template_ID])
REFERENCES [dbo].[ReportCard_Template] ([Report_Card_Template_ID])
GO
ALTER TABLE [dbo].[Marking_Scale] CHECK CONSTRAINT [FK__Marking_S__Repor__6E01572D]
GO
ALTER TABLE [dbo].[Parent_Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Parent_Fe__Paren__403A8C7D] FOREIGN KEY([Parent_Guardian_ID])
REFERENCES [dbo].[Parent_Guardian] ([Parent_Guardian_ID])
GO
ALTER TABLE [dbo].[Parent_Feedback] CHECK CONSTRAINT [FK__Parent_Fe__Paren__403A8C7D]
GO
ALTER TABLE [dbo].[Parent_Guardian]  WITH CHECK ADD  CONSTRAINT [FK_Parent_Guardian_Application] FOREIGN KEY([Application_ID])
REFERENCES [dbo].[Application] ([Application_ID])
GO
ALTER TABLE [dbo].[Parent_Guardian] CHECK CONSTRAINT [FK_Parent_Guardian_Application]
GO
ALTER TABLE [dbo].[Parent_Guardian]  WITH CHECK ADD  CONSTRAINT [FK_Parent_Guardian_User_Tbl] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User_Tbl] ([User_ID])
GO
ALTER TABLE [dbo].[Parent_Guardian] CHECK CONSTRAINT [FK_Parent_Guardian_User_Tbl]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Student] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[Student] ([Student_ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Student]
GO
ALTER TABLE [dbo].[Progress_Category]  WITH CHECK ADD  CONSTRAINT [FK__Progress___Marki__70DDC3D8] FOREIGN KEY([Marking_Scale_ID])
REFERENCES [dbo].[Marking_Scale] ([Marking_Scale_ID])
GO
ALTER TABLE [dbo].[Progress_Category] CHECK CONSTRAINT [FK__Progress___Marki__70DDC3D8]
GO
ALTER TABLE [dbo].[ReportCard]  WITH CHECK ADD  CONSTRAINT [FK__ReportCar__Stude__5AEE82B9] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[Student] ([Student_ID])
GO
ALTER TABLE [dbo].[ReportCard] CHECK CONSTRAINT [FK__ReportCar__Stude__5AEE82B9]
GO
ALTER TABLE [dbo].[ReportCard_Template]  WITH CHECK ADD  CONSTRAINT [FK__ReportCar__Repor__628FA481] FOREIGN KEY([Report_Card_ID])
REFERENCES [dbo].[ReportCard] ([Report_Card_ID])
GO
ALTER TABLE [dbo].[ReportCard_Template] CHECK CONSTRAINT [FK__ReportCar__Repor__628FA481]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__School__5812160E] FOREIGN KEY([School_ID])
REFERENCES [dbo].[School] ([School_ID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK__Schedule__School__5812160E]
GO
ALTER TABLE [dbo].[School_Fees]  WITH CHECK ADD  CONSTRAINT [FK_School_Fees_Student] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[Student] ([Student_ID])
GO
ALTER TABLE [dbo].[School_Fees] CHECK CONSTRAINT [FK_School_Fees_Student]
GO
ALTER TABLE [dbo].[School_Fees_Status]  WITH CHECK ADD  CONSTRAINT [FK__School_Fe__Paren__123EB7A3] FOREIGN KEY([Parent_Guardian_ID])
REFERENCES [dbo].[Parent_Guardian] ([Parent_Guardian_ID])
GO
ALTER TABLE [dbo].[School_Fees_Status] CHECK CONSTRAINT [FK__School_Fe__Paren__123EB7A3]
GO
ALTER TABLE [dbo].[School_Term]  WITH CHECK ADD  CONSTRAINT [FK__School_Te__Repor__5FB337D6] FOREIGN KEY([Report_Card_ID])
REFERENCES [dbo].[ReportCard] ([Report_Card_ID])
GO
ALTER TABLE [dbo].[School_Term] CHECK CONSTRAINT [FK__School_Te__Repor__5FB337D6]
GO
ALTER TABLE [dbo].[School_Term]  WITH CHECK ADD  CONSTRAINT [FK__School_Te__Sched__5DCAEF64] FOREIGN KEY([Schedule_ID])
REFERENCES [dbo].[Schedule] ([Schedule_ID])
GO
ALTER TABLE [dbo].[School_Term] CHECK CONSTRAINT [FK__School_Te__Sched__5DCAEF64]
GO
ALTER TABLE [dbo].[School_Term]  WITH CHECK ADD  CONSTRAINT [FK__School_Te__Stude__5EBF139D] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[Student] ([Student_ID])
GO
ALTER TABLE [dbo].[School_Term] CHECK CONSTRAINT [FK__School_Te__Stude__5EBF139D]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK__Student__Parent___4316F928] FOREIGN KEY([Parent_Guardian_ID])
REFERENCES [dbo].[Parent_Guardian] ([Parent_Guardian_ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK__Student__Parent___4316F928]
GO
ALTER TABLE [dbo].[Subcategory]  WITH CHECK ADD  CONSTRAINT [FK__Subcatego__Progr__73BA3083] FOREIGN KEY([Progress_Category_ID])
REFERENCES [dbo].[Progress_Category] ([Progress_Category_ID])
GO
ALTER TABLE [dbo].[Subcategory] CHECK CONSTRAINT [FK__Subcatego__Progr__73BA3083]
GO
ALTER TABLE [dbo].[Supplier_Order]  WITH CHECK ADD  CONSTRAINT [FK__Supplier___Emplo__208CD6FA] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Employee] ([Employee_ID])
GO
ALTER TABLE [dbo].[Supplier_Order] CHECK CONSTRAINT [FK__Supplier___Emplo__208CD6FA]
GO
ALTER TABLE [dbo].[Supplier_Order]  WITH CHECK ADD  CONSTRAINT [FK__Supplier___Schoo__1F98B2C1] FOREIGN KEY([School_ID])
REFERENCES [dbo].[School] ([School_ID])
GO
ALTER TABLE [dbo].[Supplier_Order] CHECK CONSTRAINT [FK__Supplier___Schoo__1F98B2C1]
GO
ALTER TABLE [dbo].[Supplier_Order]  WITH CHECK ADD  CONSTRAINT [FK__Supplier___Suppl__2180FB33] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Supplier] ([Supplier_ID])
GO
ALTER TABLE [dbo].[Supplier_Order] CHECK CONSTRAINT [FK__Supplier___Suppl__2180FB33]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK__Test__Report_Car__656C112C] FOREIGN KEY([Report_Card_Template_ID])
REFERENCES [dbo].[ReportCard_Template] ([Report_Card_Template_ID])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK__Test__Report_Car__656C112C]
GO
ALTER TABLE [dbo].[User_Tbl]  WITH CHECK ADD  CONSTRAINT [FK__User_Tbl__User_T__4F7CD00D] FOREIGN KEY([User_Type_ID])
REFERENCES [dbo].[User_Type] ([User_Type_ID])
GO
ALTER TABLE [dbo].[User_Tbl] CHECK CONSTRAINT [FK__User_Tbl__User_T__4F7CD00D]
GO
USE [master]
GO
