<div class="container">
    <h1 style="color:black">Menu Item</h1>
    <hr />
    
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" (keyup)="search($event)"  />
      
    </div>
    
    <br><br>

    <table mat-table [dataSource]="dataSource" matSort class="table table-hover mat-elevation-z8" style="color: black;">

        <ng-container matColumnDef="Menu_Item_Description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu_Item_Description </th>
            <td mat-cell *matCellDef="let element"> {{element.Menu_Item_Description}} </td>
        </ng-container>
        <ng-container matColumnDef="Menu_Items_Purchased">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu_Items_Purchased </th>
            <td mat-cell *matCellDef="let element"> {{element.Menu_Items_Purchased}} </td>
        </ng-container>
        <ng-container matColumnDef="Menu_Item_Purchase_Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu_Item_Purchase_Date </th>
            <td mat-cell *matCellDef="let element"> {{element.Menu_Item_Purchase_Date | date}} </td>
        </ng-container>
    
        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-sm btn-info" (click)="editMenu_Item(element.Menu_Item_ID, element)" data-toggle="modal"
                data-target="#addModal"> Update
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-sm btn-danger" (click)="getID(element.Menu_Item_ID)">Delete
                    
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      
        <td></td>
        
      <div class="container text-center">
        <button type="submit" class="btn btn-default" a routerLink="/addmenu_item">Add Menu Item</button>
      </div>
    </div>

    