<div class="container">
    <h1> Allergies</h1>
    <hr />
    
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
    </div>
    <br><br>
      
    
    <table class ="table table-hover">
        <thead>	
        <tr>
        <th scope="col">Allergy Details</th>
        <th scope="col">Allergy Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
        
        </tr>
    
        </thead>
    <tbody *ngFor="let allergy of allergies">
        <tr>
        <td>{{allergy.allergyDetails}}</td>	
        <td>{{allergy.allergyDate}}</td>
        
        <td><button type="button" class="btn btn-sm btn-info">Update</button></td>
        <td><button type="button" class="btn btn-sm btn-danger" (click)="deleteAllergy(allergy.id)">Delete</button></td>
        </tr>
    </tbody>
    </table>
        <td></td>
        
      <div class="container text-center">
        <button type="submit" class="btn btn-default" a routerLink="/addallergydetails">Add Allergy</button>
      </div>
    </div>
    
