<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Parent Feedback</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
      <form action="/action_page.php">
        <p><label for="w3review">Parent Feedback:</label></p>
        <textarea class = "textarea" id="w3review" name="w3review" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>

  </div>
  