<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Crayon Kids</a>
      </div>

      <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="employeelist">Employees</a></li>
        <li><a routerLink="assessmentList">Assessments</a></li>
        <li><a routerLink="allergylist">Allergies</a></li>
      </ul>
    </div>
    </div>
  </nav>
 -->

 <nav class="navbar navbar-default">
  <div class="" style="width: 95%;">
    <div class="navbar-header">
      <button id="1" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">Default
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" a routerLink="login">Crayon Kids</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="employeelist">Employees</a></li>
        <li><a routerLink="assessmentList">Assessments</a></li>
        <li><a routerLink="allergylist">Allergies</a></li>
        <li><a routerLink="studentlist">Students</a></li>
        <li><a routerLink="parentlist">Parents</a></li>
        <li><a routerLink="classtypelist">Class Types</a></li>
        <li><a routerLink="schoollist">Schools</a></li>
        <li><a routerLink="menu_itemlist">Menu Items</a></li>
        <li><a routerLink="reports">Reports</a></li>
        <li><a routerLink="login"><span class="material-icons" matPrefix>lock</span></a></li>   
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>