:host {
    height: 140%;
    display: flex;
    justify-content: center;
    padding: 10% 0;
    background-image: url('../../../assets/pexels-miguel-á-padriñán-1111317.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    scroll-behavior: initial;
  }