:host {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10% 0;
  background-color: grey !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  scroll-behavior: initial;
  overflow: auto;
}


/* Table */
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  font-size: 18px;
  font-weight: bold;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}


#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}
.heading {
  color:rgb(42, 33, 92);
  justify-content: center;
  font-weight: bold;
}
