.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  width: 70%;
  padding-top: 4.8%;
  border-radius: 10px;
  &__box {
    min-height: 120px;
    background: #74011e;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    padding-right: 15%;
    border: 2px solid aqua;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

